body {
  display: flexbox;
  justify-content: center;
  font-family: 'Arial', sans-serif;
}

a {
  color: #1E90FF;
  /* Pop color for links */
  text-decoration: none;
  /* Remove underline */
}

a:hover {
  text-decoration: underline;
  /* Add underline on hover */
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  /* Center container */
  padding: 20px;
}

.nava {
  color: black;
  background-color: rgb(159, 153, 153);
}

.card-title {
  color: black;
  padding: 10px;
  margin: 10px 0;
}

.card h5,
.card h2 {
  background-color: rgb(159, 153, 153);
}

.card p {
  margin-bottom: 10px;
}

.card a {
  display: inline-block;
  margin-top: 10px;
}

.button {
  background-color: rgb(159, 153, 153);
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: rgb(159, 153, 153);
}

.post-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  justify-content: flex-start;
  
  height: 100vh;
  
}

.welcome-header{
  text-align: center;
}

.logout-container {
  text-align: center;
}

.logout-button {
  display: inline-block;
}

.button-container{
  display: flex;
  flex-direction: row;
}